@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    @apply text-slate-900;
  }
  input, select, textarea {
    @apply text-slate-900;
  }
}

@keyframes marquee-full {
  0% {
    transform: translateX(100vw);
  }
  80% {
    transform: translateX(calc(-100% - 2rem));
  }
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}

.animate-marquee-full {
  animation: marquee-full 24s linear infinite;
}

@keyframes marquee-pause {
  0% {
    transform: translateX(0);
  }

  93.75% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-pause {
  animation: marquee-pause 16s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.animate-blink {
  animation: blink 1.2s ease-in-out infinite;
}

@keyframes departure-time-blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.18;
  }
}
